

{% macro displayBusiness(Business)%}
{% for business in Business%}
    <h2>{{business.businessname}}</h2>
    <p>Number: +254{{business.contact}}</p>
    <p>Service provided: {{business.service}}</p>
    <p>About: {{business.about}}</p>
    <p>Location: {{business.location}}</p>
    <p>Website: {{business.website}}</p>
     <a href="{{url_for('main.reviews',business_id=business.id)}}"><button type="button" class="btn btn-success">Review</button></a><br>
    
{% endfor %}
{% endmacro %}

{% macro displayResults(Business)%}
{% for business in Business%}
    <h2>{{business.businessname}}</h2>
    <p>Number: +254{{business.contact}}</p>
    <p>Service provided: {{business.service}}</p>
    <p>About: {{business.about}}</p>
    <p>Location: {{business.location}}</p>
    <p>Website: {{business.website}}</p>
    <a href="{{url_for('main.reviews',business_id=business.id)}}"><button type="button" class="btn btn-success">Review</button></a><br>
       
{%endfor %}

{% endmacro %}

{% macro displaySearchResults(Business)%}
{% for business in Business%}
    <h2>{{business.businessname}}</h2>
    <p>Number: +254{{business.contact}}</p>
    <p>Service provided: {{business.service}}</p>
    <p>About: {{business.about}}</p>
    <p>Location: {{business.location}}</p>
    <p>Website: {{business.website}}</p>
    <a href="{{url_for('main.reviews',business_id=business.id)}}"><button type="button" class="btn btn-success">Review</button></a><br>
{%endfor %}
{% endmacro %}

{% macro displayReviews(all_reviews)%}
{% for review in all_reviews%}
<p>{{review.review}}</p>
{{review.posted.strftime('%Y-%m-%d')}}
{%endfor%}
{% endmacro %}
